/* GERAL */
body {
    margin: 0;
    background-color: #1a1919;
    font-family: Arial, sans-serif;
    color: white;
}

/* NAVBAR */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111111;
    padding: 15px 30px;
    border-bottom: 2px solid #9F5FFF;
    gap: 20px;
}

/* LOGO */
.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 85px;
}

.logo-text {
    color: #9F5FFF;
    font-size: 24px;
    font-weight: bold;
}

/* BARRA DE PESQUISA */
.search-bar {
    display: flex;
    align-items: center;
    background: #1a1a1a;
    padding: 6px 12px;
    border-radius: 30px;
    border: 1px solid #9F5FFF;
}

.search-bar input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 8px;
    font-size: 15px;
    width: 230px;
}

.search-bar .search-btn {
    background: #9F5FFF;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.search-bar .search-btn:hover {
    background: #b67aff;
    box-shadow: 0 0 10px #9F5FFF;
}

/* MENU */
.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.menu a:hover {
    color: #9F5FFF;
}

/* ÍCONES */
.icons img {
    width: 28px;
    margin-left: 15px;
    filter: invert(100%);
    cursor: pointer;
    transition: 0.3s;
}

.icons img:hover {
    filter: drop-shadow(0 0 6px #9F5FFF);
}

/* HERO SECTION */
.hero {
    text-align: center;
    margin-top: 70px;
    padding: 40px;
    background-color: rgb(37, 37, 37);
}

.hero h1 {
    font-size: 52px;
    color: #d4b0ff;
}

.hero p {
    font-size: 22px;
    color: #cccccc;
    max-width: 600px;
    margin: auto;
}

/* BOTÃO */
.btn-hero {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 25px;
     background: linear-gradient(to right, #36098a, #ae08cf, #9900ff);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-hero:hover {
    background: #7300ff;
    box-shadow: 0 0 12px #522791;
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas iguais */
  gap: 10px; /* espaço entre os quadrados */
  margin: 20px 0;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.category-card:hover {
  border-color: #000000;
  background-color: #9F5FFF;
  transform: translateY(-5px);
}

.category-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
